[
    {
        "scope": "https://api.twilio.com:443",
        "method": "POST",
        "path": "/2010-04-01/Accounts/AC2c000352390f4af3fa68f7990e44bd7b/Messages.json",
        "body": "*",
        "status": 201,
        "response": {
            "sid": "SM7a97a94668e84d389267745d39bb9556",
            "date_created": "Thu, 05 Oct 2017 16:19:26 +0000",
            "date_updated": "Thu, 05 Oct 2017 16:19:26 +0000",
            "date_sent": null,
            "account_sid": "AC2c000352390f4af3fa68f7990e44bd7b",
            "to": "+13174968472",
            "from": "+14159415765",
            "messaging_service_sid": null,
            "body": "Hello, world!",
            "status": "queued",
            "num_segments": "1",
            "num_media": "0",
            "direction": "outbound-api",
            "api_version": "2010-04-01",
            "price": null,
            "price_unit": "USD",
            "error_code": null,
            "error_message": null,
            "uri": "/2010-04-01/Accounts/AC2c000352390f4af3fa68f7990e44bd7b/Messages/SM7a97a94668e84d389267745d39bb9556.json",
            "subresource_uris": {
                "media": "/2010-04-01/Accounts/AC2c000352390f4af3fa68f7990e44bd7b/Messages/SM7a97a94668e84d389267745d39bb9556/Media.json"
            }
        },
        "rawHeaders": [
            "Content-Type",
            "application/json; charset=utf-8",
            "Twilio-Request-Duration",
            "0.330",
            "Twilio-Request-Id",
            "RQ672701cd79b44556908312ce557e775f",
            "X-Shenanigans",
            "none"
        ]
    }
]