@import "../../node_modules/bootstrap/dist/css/bootstrap";
@import "../../node_modules/font-awesome/scss/font-awesome";
@import "../../node_modules/bootstrap-toggle/css/bootstrap-toggle";

// @import "./another";

// Named with: http://chir.ag/projects/name-that-color
$color-pickled-bluewood: #2C3E50;
$color-silver: #BDBDBD;
$color-emperor: #4F4F4F;
$color-black: #000000;
$color-concrete: #F2F2F2;
$color-de-york: #6FCF97;
$color-jungle-green: #27AE60;
$color-white: #FFFFFF;

@mixin drop-shadow-down() {
  -webkit-box-shadow: 0px 4px 2px 0px rgba(0,0,0,0.5);
  -moz-box-shadow: 0px 4px 2px 0px rgba(0,0,0,0.5);
  box-shadow: 0px 4px 2px 0px rgba(0,0,0,0.5);
}

body {
  font-family: 'Hind', sans-serif;
}

h2 {
  color: $color-emperor;
}

input.form-control, select.form-control {
  padding: 10px 24px;
  font-size: 2rem;
  font-family: 'Slabo 13px', serif;
  height: auto;
}


.phone-number-with-prefix-wrapper {
  position: relative;

  input.form-control.phone-number-with-prefix {
    padding-left: 54px;
  }

  .prefix {
    position: absolute;
    left: 20px;
    top: 13px;
    font-size: 2rem;
    color: $color-silver;
  }  
}

.btn-primary {
  background-color: $color-de-york;
  border-color: $color-de-york;
}
.btn-primary:hover, .btn-primary:focus {
  background-color: $color-jungle-green;
  border-color: $color-jungle-green;
}

.navbar-default {
  @include drop-shadow-down();
  background-color: $color-pickled-bluewood;
  border-radius: 0px;
  border: 0px;

  .navbar-header {
    a {
      color: $color-white;
    }
    a:hover {
      color: $color-white;
    }
  }

  .navbar-nav {
    li {
      a, a:focus {
        color: $color-white;
        font-size: 1.6rem;
      }
      a:hover {
        color: $color-jungle-green;
      }
    }
  }
}

.panel-default {
  .panel-title {
    font-size: 3rem;
  }
}


.country-prefix {
  line-height: 50px;
  font-weight: bold;
  font-size: 2.4rem;
}

ul.messages {
  list-style-type: none;
  margin: 64px 0px;
  padding: 0px;

  .prompt {
    margin-bottom: 12px;
    font-size: 1.25rem;
    font-style: italic;
    color: $color-silver;
  }

  .message {
    padding-top: 36px;
    margin-bottom: 24px;
    font-family: 'Slabo 13px', serif;

    .day-divider {
      margin-bottom: 24px;
      text-align: center;
      font-size: 2rem;
      color: $color-silver;

      .line {
        border-top: 1px solid $color-silver;
        margin-top: 14px;
      }
    }

    .message-body {
      font-size: 2rem;
      color: $color-emperor;
    }

    img.media {
      max-width: 100%;
    }

    .timestamp {
      color: $color-silver;
      font-size: 2rem;
    }
  }

  .message.divider {
    border-top: 1px solid $color-silver;
  }
}

.no-entries {
  margin-top: 36px;
  font-size: 2rem;
}

.new-message-wrapper {
  background-color: $color-concrete;
  margin-top: -24px;
  padding-top: 24px;
  padding-bottom: 24px;

  .new-message {
    .btn {
      font-size: 2rem;
      padding: 10px 16px;
    }
  }

  .sms-number {
    margin-top: 12px;
    margin-left: 24px;
    color: $color-emperor;
    font-size: 2rem;

    .number {
      color: $color-black;
      font-weight: bold;
      margin-top: 12px;
    }
  }
}

.chart {
  margin: 48px 0px;
  h2 {
    margin-bottom: 24px;
  }
}